<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true"
		 colors="true">
  <testsuites>
    <testsuite name="Ginq.Example">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>